*{
    font-family: "Fashion Fetish";
}

.input-cont,.area-cont{
    display: flex;
    flex-direction: column;
}

.area-cont textarea{
    max-width: 20ch;
    max-height: 15ch;
}

.input-cont input,select{
    max-width: 20ch;
}

main div{
    display: flex;
    justify-content: center;
    align-items: center;
}

main > div {
    background-image: url(../img/evento3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

form{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 30px;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}   

h1{
    text-align: center;
    margin:0px;
    padding: 20px;
    color: white;
    background-color: black;
}

.boton-cont{
    width: 250px;
    display: flex;
    margin: auto;
}

.boton-cont button{
    flex-grow: 1;
}