*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fashion Fetish";
}

body,html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@font-face {
    font-family: 'Fashion Fetish';
    src: url('../fuentes/FashionFetish.woff2') format('woff2'),
        url('../fuentes/FashionFetish.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*Header*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #78f4b5;
    border-bottom: 1px solid black;
    padding: 15px;
    position: sticky;
    top: 0;
}

.logo-container{
    flex-shrink: 1;
    max-width: 180px;
}

.logo-container img{
    width: 100%;
    height: auto;
}

header a{
  text-decoration: none;
  color: black;
  font-family: "Fashion Fetish";
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
}

header a:visited{
    color: black;
}

header nav ul{
    list-style: none;
    display: flex;
    margin-top: 16px;
    gap: 10px;
    padding: 0px;
}

/*Footer*/

footer{
    background-color: #78f4b5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
  }
  
  footer img{
    width: 30px;
    height: auto;
  }
  
  footer p{
    font-family: "Fashion Fetish";
    font-weight: bold;
    text-transform: uppercase;
  }


  
  /*Index*/


#bienvenido{
    padding: 30px;
    margin: auto;
}

#bienvenido div{
  text-align: center;
  letter-spacing: 3px;
  font-family: "Fashion Fetish";
  width: 90%;
  margin: auto;
  border: 10px double #3f2537;
  padding: 35px;
}

#bienvenido div h1{
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#bienvenido a{
    text-decoration: none;
    color: #3f2537;
    border: 1px solid #3f2537;
    padding: 8px;
    border-radius: 10px;
    margin-top: 25px;
    display: block;
    width: fit-content;
    margin: auto;
}

#menu{
    background-image: url(../img/plateo\ casero\ 2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-menu{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
}

.card-menu div{
    color: white;
    text-align: center;
    padding: 20px;
    border: 1px solid white;
}

.card-menu h2{
    margin-bottom: 30px;
}

.card-menu p{
    max-width: 50ch;
    margin: auto;
}

.card-menu a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 15px;
    padding: 8px;
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}

/*Platos*/


#platos-titulo{
    text-align: center;
}

.platos{
    background-image: url();
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap:30px;
    padding: 30px;
}

.platos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    transition: 0.2s;
}



.platos img{
    height: auto;
    max-width: 100%;
}

.platos:hover{
    transform: scale(1.1);
    box-shadow: 1px -2px 32px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px -2px 32px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -2px 32px 0px rgba(0,0,0,0.75);
}

/*Contacto*/



.input-cont,.area-cont{
    display: flex;
    flex-direction: column;
}

.area-cont textarea{
    max-width: 20ch;
    max-height: 15ch;
}

.input-cont input,select{
    max-width: 20ch;
    padding: 10px;
}

main.contacto div{
    display: flex;
    justify-content: center;
    align-items: center;
}

main.contacto > div {
    background-image: url(../img/evento3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

form{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 30px;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}   

#contacto-titulo{
    text-align: center;
    margin:0px;
    padding: 20px;
    color: white;
    background-color: black;
}

.boton-cont{
    width: 250px;
    display: flex;
    margin: auto;
}

.boton-cont button{
    flex-grow: 1;
}

/*Somos*/


main.somos{
    text-align: center;
  }
  
  
  
  .carousel{
      padding: 20px;
  }
  
  
  .carousel-item{
      height: 250px;
  }
  
  .carousel-item:nth-child(1){
      background-image: url("../img/beef.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  }
  
  .carousel-item:nth-child(2){
      background-image: url("../img/evento3.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  }
  
  .carousel-item:nth-child(3){
      background-image: url("../img/evento4.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  }
  