header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #78f4b5;
    border-bottom: 1px solid black;
    padding: 15px;
    position: sticky;
    top: 0;
}

.logo-container{
    flex-shrink: 1;
    max-width: 180px;
}

.logo-container img{
    width: 100%;
    height: auto;
}

header a{
  text-decoration: none;
  color: black;
  font-family: "Fashion Fetish";
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
}

header a:visited{
    color: black;
}

header nav ul{
    list-style: none;
    display: flex;
    margin-top: 16px;
    gap: 10px;
    padding: 0px;
}
