*{
    font-family: "Fashion Fetish";
}

h1{
    text-align: center;
}

.platos{
    background-image: url();
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap:30px;
    padding: 30px;
}

.platos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    transition: 0.2s;
}



.platos img{
    height: auto;
    max-width: 100%;
}

.platos:hover{
    transform: scale(1.1);
    box-shadow: 1px -2px 32px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px -2px 32px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -2px 32px 0px rgba(0,0,0,0.75);
}