*{
    font-family: "Fashion Fetish";
}

main{
  text-align: center;
}



.carousel{
    padding: 20px;
}


.carousel-item{
    height: 250px;
}

.carousel-item:nth-child(1){
    background-image: url("../img/beef.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-item:nth-child(2){
    background-image: url("../img/evento3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-item:nth-child(3){
    background-image: url("../img/evento4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

